.card-Historique {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 40px;
  border-radius: 15px;
  margin:0 20px;
}
.visite-container{
  display: flex;
}
.card-Historique h1 {
  color: #fff;
}
.card-Historique hr {
  border: 0.5px solid #fff;
}
.list-of-visites{
  
  padding-right: 10px;
  height: 400px;
  width: 40%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.conteneur-visite{
 
    border:solid 1px white;
    border-radius:5px;
    margin-bottom: 10px;
    display:flex ;
    flex-direction: column;

}
.button-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}
.detail-button{
  background-color: rgba(2550, 255, 255, 0.5);
  height: 30px;
  width: 140px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  }
