.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 70px);
}

.card {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 40px;
  border-radius: 15px;
}
.card h1 {
  color: #fff;
}
.card hr {
  border: 0.5px solid #fff;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-form input {
  height: 46px;

  background: none;
  outline: none;
  width: 100%;
  border: 1px solid #fff;
  margin: 20px;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  padding-left: 14px;
}
.login-form input:not(input[type="submit"]) {
  width: calc(100% - 14px);
}

.login-form ::placeholder {
  color: #fff;
  font-size: 18px;
}

.login-form input[type="submit"] {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.login-form input[type="submit"]:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.237);
}
