.question-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

hr{
    margin-bottom: 25px;

}
h1{
   margin-bottom: 5px;
}

.question-form input,textarea,select {
  background: none;
  outline: none;
  width: 100%;
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  padding-left: 14px;
  overflow:hidden;
}
.question-form select {
  height: 46px;
  width: 50%;
}

.question-form input:not(input[type="submit"]) {
  height: 46px;
}

.question-form ::placeholder {
  color: #fff;
  font-size: 18px;
}

.question-form input[type="submit"] {
  height: 46px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.question-form input[type="submit"]:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.237);
}

label{
  color:#fff;
  margin-bottom: 5px;
}
