.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
  width: calc(100% - 40px);
  height: calc(100% - 200px);
}

.home .title h1 {
  font-size: 60px;
  color: #10217d;
}
.home .title h1 span {
  font-weight: 300;
  color: black;
}
.home .title p {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  margin: 0 300px;
}

.footer div {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  font-weight: 700;
}
.footer div span {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
.footer div:last-child {
  border-left: 2px solid rgb(0, 0, 0);
  padding-left: 30px;
}
