nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

nav ul.nav-items {
  display: flex;
}
nav .logo,
nav ul.nav-items li a {
  margin: 20px 30px;
}
nav ul.nav-items li a:active {
  border-bottom: 1px solid #fff;
}
nav ul.nav-items li a.active {
  border-bottom: 1px solid #fff;
}
