
.row {
  display: flex;
  padding: 10px 0px;
}
.row input:first-child {
  margin-right: 5px;
}
.row input:last-child {
  margin-left: 5px;
}
.row-radio {
  display: flex;
  margin-right: auto;
  width: 50%;
  padding: 10px 0px;
  color: #fff;
}
 input[type="radio"] {
  height: 20px;
  margin: 3px 3px 0px 0px;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
  padding-right: 10px;
}
